[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiokafka = "*"
insights-core = "*"
aiohttp = "*"
tornado = "*"
logstash_formatter = "*"
kafkahelpers = "*"
flake8 = "*"
prometheus-client = "*"
prometheus-async = "*"

[dev-packages]
flake8 = "*"
nose = "*"
responses = "*"
freezegun = "*"

[requires]
python_version = "3.6"
